.container {
    width: 100%;
    max-width: 1000px;
    display: flex;
    flex-direction: column;
}

.header {
    background: white;
    padding: 20px 30px;
    font-family: "Fira Sans";
    font-weight: normal;
    font-size: 21px;
    text-align: left;
    color: #1e1f22;
    display: flex;
    justify-content: space-between;
}

.viewDetails {
    padding-top: 10px;
    padding-bottom: 20px;
    display: inline-block;
}

label {
    font-weight: bold;
    display: block;
}

pre {
    padding: 8px;
    max-width: 40vw;
    background: #efefef;
    border: solid 1px #1e1f22;
    border-radius: 5px;
    margin: 2px;
    height: auto;
    max-height: 150px;
    overflow: auto;
    white-space: normal;
    word-wrap: break-word;
}

.item {
    margin-top: 10px;
}

.title{
    font-family: "Fira Sans";
    font-weight: 400;
    font-size: 23px;
    line-height: 19px;
    text-align: left;
    color: #000;
    margin: 16px 0px 32px 20px;
}

.horizontalRule{
    margin: 20px auto;
    width: 86%;
    border: 0.5px solid #9fa9ba;
}

.modal{
    position: absolute;
    border-radius: 10px;
    width: 90%;
    height: 80%;
    background: #fff;
    box-shadow: 0 16px 60px #00000029;
}

.root {
    height: 100%;
}

.inputLabel {
    margin-bottom: -7px;
}