.container {
    position: fixed;
    top: 0;
    left: 70px;
    width: calc(100% - 70px);
    height: 100%;
    z-index: 30;
    display:flex;
    align-items: center;
    justify-content: center;
    background: #00000017;
    padding: 40px 30px;
}

.title {
    font-family: "Fira Sans";
    font-weight: normal;
    font-size: 21px;
    text-align: left;
    color: #1e1f22;
    margin: 0 0 10px 0;
}

.modal{
    position: absolute;
    border-radius: 10px;
    min-width: 400px;
    max-height: 90%;
    min-height: 100px;
    max-width: 80%;
    background: #fff;
    box-shadow: 0 16px 60px #00000029;
    padding: 20px;
}