
.ToolTip {
    position: absolute;
    top: 50%;
    display: inline-block;
    height: 26px;
    line-height: 26px;
    margin-top: -13px;
    margin-left: 10px;
    background: #bac3d0;
    color: #fff;
    padding: 0 7px;
    border-radius: 6px;
    font-size: 11px;
    white-space: nowrap;
    opacity: 0;
    transform: scale(.7);
    transform-origin: left center;
    pointer-events: none;
    transition: opacity .2s,transform .2s,-webkit-transform .2s;
}

.hovering {
    opacity: 1;
    transform: scale(1);
}

.left {
    right: calc(100% + 5px);
}

.right {
    left: calc(100% + 5px);
}